@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script>
        $(function () {
            $("#BaseDataDics_Select").combobox({
                width: 150,
                url: '/BaseDataDics/getBaseDataDics',
                valueField: 'ID',
                textField: 'Name',
            })
            $("#BaseDataDics_table").datagrid({
                url: '/BaseDataDics/getBaseDataDics',
                title: '基础字段管理',
                width: 400,
                height: 300,
                //toolbar: toolbar,
                rownumbers: true,
                singleSelect: true,
                collapsible: true,
                queryParams: {
                    TypeNo: $("#BaseDataDics_Select").combobox("getValue"),
                },
                columns: [[
                       { field: 'Name', title: '姓名', width: 80 },
                       { field: 'IndexNo', title: '排序ID', width: 200 },
                       { field: 'Status', title: '状态', width: 100 },
                ]]
            })
        })
    </script>
</head>
<body>
    <div>
        <select id="BaseDataDics_Select"></select>
        <table id="BaseDataDics_table"></table>
    </div>
</body>
</html>
