@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
   <div>
        <form id="BaseDataDics_add">
       <div class="input_line"><label class="leftlabel"> 字典名称 :</label><input type="text"  class="easyui-textbox" id="BaseDataDics_add_name"></div>
      </form>
    </div>
   
</body>
</html>
