@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <div class="input_line"><label class="leftlabel">姓名:</label><input id="ptname" class="easyui-textbox" >  </div>
        <div class="input_line"><label class="leftlabel">性别:</label><div id="ptsex">
		<input type="radio" name="rsex" value="男"><span>男</span>
		<input type="radio" name="rsex" value="女"><span>女</span></div>
    </div>
        <div class="input_line"><label class="leftlabel">生日:</label><input id="ptbirthday" class="easyui-datebox" >  </div>
         <div class="input_line"><label class="leftlabel">学历:</label><input id="ptEdul"  >  </div>
         <div class="input_line"><label class="leftlabel">职称:</label><input id="pttitle"  >  </div>
        <div class="input_line"><label class="leftlabel">入职时间:</label><input id="ptintime" class="easyui-datebox" >  </div>
         <div class="input_line"><label class="leftlabel">联系电话:</label><input id="pttel" class="easyui-datebox" >  </div>
         <div class="input_line"><label class="leftlabel">工作单位:</label><input id="ptutname" class="easyui-datebox" >  </div>

    </div>
  
</body>
</html>
