@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form id="pt_add">
        <div class="input_line"><label class="leftlabel">姓名:</label><input id="ptname" class="easyui-textbox" >  </div>
        <div class="input_line"><label class="leftlabel">性别:</label><input type="text" name="filmType" id="ptsex"
            placeholder="请输入性别"  list="fileTypeList"/><br/>
    <datalist id="fileTypeList">
        <option value="男">男</option>
        <option value="女">女</option>
       
    </datalist>
    </div>
        <div class="input_line"><label class="leftlabel">生日:</label><input id="ptbirthday" type="date" >  </div>
              <div class="input_line"><label class="leftlabel">兼职类型:</label><input id="ptType"  >  </div>
         <div class="input_line"><label class="leftlabel">学历:</label><input id="ptEdul"  >  </div>
         <div class="input_line"><label class="leftlabel">职称:</label><input id="pttitle"  >  </div>
        <div class="input_line"><label class="leftlabel">入职时间:</label><input id="ptintime" class="easyui-datebox" >  </div>
         <div class="input_line"><label class="leftlabel">联系电话:</label><input id="pttel" class="easyui-textbox" >  </div>
         <div class="input_line"><label class="leftlabel">工作单位:</label><input id="ptutname" class="easyui-textbox" >  </div>
          <div class="input_line"><label class="leftlabel">校内联系人:</label><input id="ptContactName" class="easyui-textbox" >  </div>
         <div class="input_line"><label class="leftlabel">历年评价:</label><input id="ptJudgeText" class="easyui-textbox" >  </div>
             <div class="input_line"><label class="leftlabel">最近一年任课时间:</label><input id="ptlasttime" class="easyui-datebox" >  </div>
             <div class="input_line"><label class="leftlabel">备注:</label><input id="ptMemo" class="easyui-textbox" >  </div>
            </form>
    </div>
   <script>
       $(function () {
           $("#ptEdul").combobox({
               url: "/BaseDataDics/GetDatabases?typeno=1",
               valueField: 'id',
               textField: "name"

           })
           $("#pttitle").combobox({
               url: "/BaseDataDics/GetDatabases?typeno=4",
               valueField: 'id',
               textField: "name"

           })
           $("#ptType").combobox({
               url: "/BaseDataDics/GetDatabases?typeno=3",
               valueField: 'id',
               textField: "name"

           })

       })
    </script>
</body>
</html>>