@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
<title>Index</title>
<link href="~/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
   
    <script src="~/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script>


        $(function () {
            var tb = [
                                 {
                                     text: '添加',
                                     iconCls: 'icon-add',
                                     handler: function () {

                                         var url = "/partjobteacher/add";
                                         $("#pt_add_dig").dialog({
                                             title: "教师添加--",
                                             iconCls: 'icon-add',
                                             modal: true,
                                             width: 300,
                                             href: url,
                                             buttons: [
                                    {
                                        text: '保存',
                                        iconCls: 'icon-save',
                                        handler: function () {
                                            var name = $("#ptname").val();
                                            var sex = $("#ptsex").val();
                                            var birthday = $("#ptbirthday").val();
                                            var ptType = $("#ptType").val();
                                            var ptEdul = $("#ptEdul").val();
                                            var birthday = $("#ptbirthday").val();
                                            var birthday = $("#ptbirthday").val();
                                            var birthday = $("#ptbirthday").val();
                                            var birthday = $("#ptbirthday").val();
                                            var birthday = $("#ptbirthday").val();
                                            var dep = $("#pt_add").serialize();
                                            $.get("/PartJobTeacher/AddPartJobTeachers", dep, function (data) {
                                                alert(dep);
                                                     if (data == "ok") {
                                                         $.messager.show({
                                                             title: '提示',
                                                             msg: '成功',
                                                             showType: 'show'
                                                         });
                                                         $("#pt_add_dig").dialog("close");
                                                         $("#tb").datagrid("reload");

                                                     }
                                                     else { alert("失败"); }

                                                 }, "text")

                                        }
                                    },
                                    {
                                        text: '取消',
                                        iconCls: 'icon-cancel',
                                        handler: function () {
                                            $("#pt_add_dig").dialog("close");
                                        }
                                    }
                                             ]
                                         });
                                     }
                                 },
                                 {
                                     text: '修改',
                                     icon: 'icon-edit',
                                     handler: function () {
                                         var id = $("#tb").datagrid("getSelected").ID;
                                         //window.location.href = "/departments/EditIndex?id=" + id;
                                         var url = "/Majors/Edit?id=" + id;
                                         $("#dlgEdit").dialog({
                                             title: "部门修改--",
                                             iconCls: 'icon-Edit',

                                             modal: true,
                                             width: 300,
                                             height: 200,
                                             href: url,
                                             buttons: [
                                                 {
                                                     text: '保存',
                                                     iconCls: 'icon-save',
                                                     handler: function () {


                                                         var name = $("#view_EditIndex_depname").val();
                                                         var id = $("#view_EditIndex_Id").val();
                                                         var we = $("#wwe").val;
                                                         var iid = $("#tb").datagrid("getSelected").ID;
                                                         console.log(id);
                                                         $.get("/Majors/EditMajors", { ID: iid, DepartmentID: id, Name: name, Status: 0 }, function (das) {

                                                             if (das == "ok") {
                                                                 //alert("成功");
                                                                 $.messager.show({
                                                                     title: '提示',
                                                                     msg: '成功',
                                                                     showType: 'show'
                                                                 });
                                                                 $("#dlgEdit").dialog("close");
                                                                 $("#tb").datagrid("reload");

                                                             }
                                                             else { alert("修改失败"); }
                                                         }, "text")
                                                     }
                                                 },
                                    {
                                        text: '取消',
                                        iconCls: 'icon-cancel',
                                        handler: function () {
                                            $("#teachers_add_dlg").dialog("close");
                                        }
                                    }
                                             ]
                                         });
                                     }
                                 }, '-',
                                 {
                                     text: '删除',
                                     iconCls: 'icon-remove',
                                     handler: function () {
                                         var id = $("#tb").datagrid("getSelected").id;
                                         $.get("/PartJobTeacher/DeletePartJobTeachers", { id: id }, function (das) {
                                             if (das == "ok") {
                                                 $("#tb").datagrid("reload");
                                                 $.messager.show({
                                                     title: '提示',
                                                     msg: '成功',
                                                     showType: 'show'
                                                 });
                                                 
                                             }
                                             else { alert("失败"); }
                                         }, "text")



                                     }
                                 }
            ];

         
            $("#tb").datagrid({
                url: '/partjobteacher/getpartjobteachers/',
              
                width: 700,
                height: 460,
                fitColumns: true,
                singleSelect: true,
                toolbar: tb,
                columns: [[

                    { field: 'name', title: '教师姓名' },
                       {
                           field: 'sex', title: '性别 ',
                           formatter: function (val, row) {
                               if (val != "1") {
                                   return "<span >男</span>"
                               }
                               else {
                                   return "<span >女</span>"
                               }
                           }

                       },
                        { field: 'eduname', title: '学历 ' },
                         { field: 'doc', title: '职称 ' },
                          { field: 'intime', title: '入职时间 ' },
                           { field: 'tel', title: '联系电话' },   
                             { field: 'cname', title: '校内联系人 ' },
                               { field: 'memo', title: '备注 ' },

                ]]
            });


        });
        function query() {
            $("#tb").datagrid("load", {
                Unitname: $("#majors").combobox("getValue"

               )
            });
        }

    </script>
</head>
<body>
    <div>
    
        <table id="tb"></table>
    </div>
    <div id="pt_add_dig"></div>
     <div id="pt_edit_dig"></div>
  
</body>
</html>
