@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>

</head>
<body>
    <div>
        <form id="BookUsed-add-form">

            <div class="input_line"><label class="leftlabel">课程名称:</label><input id="courses" class="easyui-vaildatebox" data-options="required:true" name="CoursesID" /></div>

            <div class="input_line"><label class="leftlabel">教师名称:</label><input id="teacher" class="easyui-vaildatebox" data-options="required:true" name="TeacherID" /></div>

            <div class="input_line"><label class="leftlabel">教材名称:</label><input id="book" class="easyui-vaildatebox" data-options="required:true" name="Book" />
                <input id="bookID" type="hidden" name="BookID">
            <div id="select" style="position:absolute;left:100px;z-index:160;">
                        <table id="tx"></table>
                   </div>
            </div>

            <div class="input_line"><label class="leftlabel">班级名称:</label><input id="class" class="easyui-vaildatebox" data-options="required:true" name="ClassID" /></div>
            <input type="hidden" name="Status" value="0" />

            <div class="input_line"><label class="leftlabel">教师用书数量:</label><input id="teanum" class="easyui-validatebox textbox" data-options="required:true,validType:'integer'" name="TeaBookNums" /></div>
        </form>
    </div>
    <script>
        $(function () {
            $.extend($.fn.validatebox.defaults.rules, {
                integer: {// 验证整数
                    validator: function (value) {
                        return /^[+]?[1-9]+\d*$/i.test(value);

                        //return /^([+]?[0-9])|([-]?[0-9])+\d*$/i.test(value);  //可正可负
                    },
                    message: '请输入正整数'
                }
            });
            //添加课程
            $("#courses").combobox({
                url: '/Courses/Courses',
                valueField: 'ID',
                textField: 'Name',
                editable: false
            });
            //添加教师
            $("#teacher").combobox({
                url: '/Teachers/Teachers',
                valueField: 'ID',
                textField: "Name",
                editable: false
            });
            //添加教材
            $("#book").searchbox({
                prompt:'请输入书名',
                searcher: function (value, name) {
                    $("#tx").datagrid({
                        url: '/Books/getBooksss?name=' + value,
                        singleSelect: true,
                        width: 150,
                        fitColums: true,
                        columns: [[
                            {field:'ID',hidden:'true'},
                            { field: 'Name', width: 150 }
                        ]],
                        onClickRow: function () {//鼠标单击datagrid中的一行时触发的事件
                            var text = $("#tx").datagrid("getSelected");
                            $("#book").searchbox("setValue", text.Name);
                            $("#bookID").val(text.ID);
                            $("#select").hide();
                        }
                    });
                    //控制搜索框的下拉列表的隐藏与显示
                    var display = $("#select").css("display");
                    dis(display);
                }
            })
            //添加班级
            $("#class").combobox({
                url: '/Classes/GetClassesList',
                valueField: 'ID',
                textField: 'Name',
                editable: false
            })
        })
        function dis(display) {//控制搜索框的下拉列表的隐藏与显示
            if (display == "none") {
                $("#select").show();
            }
            else {
                $("#select").hide();
            }
        }
        function hide() {
            $("#select").hide();
        }
    </script>
</body>
</html>

