@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/globals.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <title>Index</title>
    <script>
        $(function () {
            var url = "";
            var tb = [{
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    url = "/BookUsed/add"
                    $("#BookUsed-dlg").dialog({
                        title: '教材选用添加',
                        iconCls: 'icon-add',
                        width: 350,
                        height: 250,
                        href: url,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            iconCls: 'icon-ok',
                            handler: function () {
                                $("#BookUsed-add-form").form({
                                    url: '/BookUsed/BookUseAdd/',
                                    success: function (data) {
                                        if (data == "ok") {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '添加成功！',
                                                showType: 'show'
                                            });
                                            $("#tb").datagrid("reload");
                                            $("#BookUsed-dlg").dialog("close");
                                        }
                                        else {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '添加失败！！',
                                                showType: 'show'
                                            });
                                        }
                                    }
                                })
                                $("#BookUsed-add-form").submit();
                            }
                        }, {
                            text: '取消',
                            iconCls: 'icon-no',
                            handler: function () {
                                $("#BookUsed-dlg").dialog("close");
                            }
                        }]

                    })
                }
            }, {
                text: '修改',
                iconCls: 'icon-edit',
                handler: function () {
                    var row = $("#tb").datagrid("getSelected");
                    if (row == null) {
                        $.messager.alert("提示...", "请选中行！！", "warning");
                        return;
                    }
                    var id = row.ID;
                    url = "/BookUsed/edit/" + id;
                    $("#BookUsed-dlg").dialog({
                        title: '教材选用修改',
                        iconCls: 'icon-add',
                        width: 350,
                        height: 250,
                        href: url,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            iconCls: 'icon-ok',
                            handler: function () {
                                $("#BookUsed-add-form").form({
                                    url: '/BookUsed/EditBooksUse/',
                                    success: function (data) {
                                        if (data == "ok") {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '修改成功！！',
                                                showType: 'show'
                                            });
                                            $("#tb").datagrid("reload");
                                            $("#BookUsed-dlg").dialog("close");
                                        }
                                        else {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '修改失败！！',
                                                showType: 'show'
                                            })
                                        }
                                    }
                                });
                                $("#BookUsed-add-form").submit();
                            }
                        }, {
                            text: '取消',
                            iconCls: 'icon-no',
                            handler: function () {
                                $("#BookUsed-dlg").dialog("close");
                            }
                        }]

                    })
                }
            }, '-', {
                text: '删除',
                iconCls: 'icon-remove',
                handler: function () {
                    var row = $("#tb").datagrid("getSelected");
                    if (row == null) {
                        $.messager.alert("提示...", "请选中行!!", "wraning");
                        return;
                    }
                    var id = row.ID;
                    var name = row.CoursesName;
                    $.messager.confirm("提示...", "你确定要删除" + name + "这条记录？", function (r) {
                        if (r) {
                            $.get("/BookUsed/RemteBookUse", { id: id }, function (data) {
                                if (data == "ok") {
                                    $.messager.show({
                                        title: '提示...',
                                        msg: '删除成功！',
                                        showType: 'show'
                                    })
                                    $("#tb").datagrid("reload");
                                }
                                else {
                                    $.messager.show({
                                        title: '提示...',
                                        msg: '删除失败！！',
                                        showType: 'show'
                                    })
                                }
                            }, "text")
                        }
                    })
                }
            }]
            $("#tb").datagrid({
                url: '/BookUsed/getBookUsed',
                singleSelect: true,
                width: 600,
                pagination: true,
                fitColums: true,
                toolbar: tb,
                columns: [[
                           { field: 'CoursesName', title: '课程名称', width: 150 },
                           { field: 'TeacherName', title: '教师名称', width: 100 },
                           { field: 'Name', title: '教材名称', width: 150 ,formatter:a},
                           { field: 'StuBookNums', title: '学生用书数量', width: 80 },
                           { field: 'TeaBookNums', title: '教师用书数量', width: 80 }
                         ]]
            })
            $("#term").combobox({
                url: '/bookused/Term',
                valueField: 'ID',
                textField: "termName",
                editable: false
            })
        });
        function a(value, row, index) {
            return "<a href='javascript:;' target='_blank' onclick='ByValue(&apos;" + value + "&apos;)'>" + value + "</a>";
        };
        function ByValue(name) {
            $("#dialog").dialog({
                title: '教材详细信息',
                iconCls: 'icon-add',
                width: 590,
                
                modal: true,
                onOpen: function () {
                    $("#BookInformation").datagrid({
                        url: '/BookUsed/getBooksContent?name=' + name,
                        singleSelect: true,
                        width: 575,
                        fitColums: true,
                        columns: [[
                                   { field: 'Name', title: '名称', width: 150 },
                                   { field: 'pubName', title: '出版社', width: 100 },
                                   { field: 'PubYear', title: '出版年份', width: 80 },
                                   { field: 'Price', title: '价格', width: 80 },
                                   { field: 'BPN', title: '教材性质', width: 80 },
                                   { field: 'BTN', title: '教材类别', width: 80 }
                        ]]
                    })
                },
                buttons: [{
                    text: '关闭',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $("#dialog").dialog("close");
                    }
                }]
            })
        }
        function query() {
            
            $("#tb").datagrid("load", {
                e: $("#term").combobox("getText")
            })
        }
    </script>
    <style scoped="scoped">
        .textbox {
            height: 20px;
            margin: 0;
            padding: 0 2px;
            box-sizing: content-box;
        }
    </style>
</head>
<body>
    <div>
        <label>学期:</label><input id="term" class="easyui-combobox"/>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="query();">查询</a>
      
        <table id="tb"></table>
        <div id="dialog">
            <table id="BookInformation"></table>
        </div>
    </div>
    <div id="BookUsed-dlg"></div>
</body>
</html>

