@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
 <div>
       <form>
            
  <div class="input_line"><label class="leftlabel">类型:</label><input id="type_add_name" class="easyui-textbox" >  </div>
        
          
  <div class="input_line"><label class="leftlabel"> 类型类型:</label><input id="type_add_typeid" class="easyui-textbox"></div>
        </form>  
  </div>
</body>
</html>
