@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/globals.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <title>Index</title>
    <script>
        var url = "";
        $(function () {
            var tb = [{
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    url = "/courses/add";
                  
                    $("#courses-dlg").dialog({
                        title: '课程添加--',
                        iconCls: 'icon-add',
                        width: 350,
                        height:250,
                        href: url,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            iconCls: 'icon-ok',
                            handler: function () {
                                $("#courses-add-form").form({
                                    url: "/Courses/coursesAdd/",
                                    onSubmit: function () {
                                        $("#courses-add-majorid").val($("#majors").combobox("getValue"));
                                    },
                                    success: function (data) {
                                        if (data == "ok") {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '保存成功！',
                                                showType: 'show'
                                            });
                                            $("#courses-dlg").dialog("close");
                                            $("#tb").datagrid("reload");
                                        }
                                        else {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '保存失败！',
                                                showType: 'show'
                                            });
                                        }
                                    }
                                })
                                $('#courses-add-form').submit();
                            }
                        }, {
                            text: '取消',
                            iconCls: 'icon-no',
                            handler: function () {
                                $("#courses-dlg").dialog("close");
                            }
                        }]
                    });
                }
            }, {
                text: '修改',
                iconCls: 'icon-add',
                handler: function () {
                    var row = $("#tb").datagrid("getSelected");
                    if (row == null) {
                        $.messager.alert("提示...", "请选择行!", "warning");
                        return;
                    }
                   
                    var id = row.id;
                    url = "/Courses/Edit/" + id;
                   
                    $("#courses-dlg").dialog({
                        title: '课程修改--',
                        iconCls: 'icon-edit',
                        width: 350,
                        height: 250,
                        href: url,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            iconCls: 'icon-ok',
                            handler: function () {
                               
                                $("#courses-edit-form").form({
                                    url: "/Courses/editCourses/",
                                  
                                    success: function (data) {
                                        if (data == "ok") {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '修改成功！',
                                                showType: 'show'
                                            });
                                            $("#courses-dlg").dialog("close");
                                            $("#tb").datagrid("reload");
                                        }
                                        else {
                                            $.messager.show({
                                                title: '提示...',
                                                msg: '修改失败！',
                                                showType: 'show'
                                            });
                                        }
                                    }
                                })
                                $('#courses-edit-form').submit();
                            }
                        }, {
                            text: '取消',
                            iconCls: 'icon-no',
                            handler: function () {
                                $("#courses-dlg").dialog("close");
                            }
                        }]
                    });
                }
            }, '-', {
                text: '删除',
                iconCls: 'icon-add',
                handler: function () {
                    var row = $("#tb").datagrid("getSelected");
                    if (row == null) {
                        $.messager.alert("提示...", "请选中行！", "warning");
                        return;
                    }
                    $.messager.confirm("Tip", "你确定要删除"+row.name+"？", function (r) {
                        if (r)
                        {
                            url="/Courses/Remove"
                            $.post(url, { id: row.id }, function (data) {
                                if (data == "ok") {
                                    $.messager.show({
                                        title: '提示...',
                                        msg: '删除成功！',
                                        showType: 'show'
                                    });
                                    $("#tb").datagrid("reload");
                                }
                                else {
                                    $.messager.show({
                                        title: '提示...',
                                        msg: '删除失败！',
                                        showType: 'show'
                                    });
                                }
                            }, "text")
                        
                        }
                    })
                }
            }];
            $("#majors").combobox({
                width: 240,
                editable: false,
                url: '/majors/GetMajors',
                valueField: 'ID',
                textField: "Name"
            });
            $("#majors").combobox("select", "1");
           
            $("#tb").datagrid({
                url: '/courses/getCourses',
                queryParams: {
                    majorid: $("#majors").combobox("getValue")
                },
                width: 700,
                singleSelect: true,
                fitColumns: true,
                toolbar: tb,
                columns: [[
                    { field: 'name', title: '课名', width: 100 },
                    { field: 'nums', title: '课时', width: 50 },
                    { field: 'term', title: '学期', width: 150 },
                    { field: 'memo', title: '备注', width: 200 },
                ]]
            }); 
        });
        function query() {
            $("#tb").datagrid("load", {
                majorId: $("#majors").combobox("getValue")
            });
        }
    </script>
    <style scoped="scoped">
        .textbox {
            height: 20px;
            margin: 0;
            padding: 0 2px;
            box-sizing: content-box;
        }
    </style>

</head>
<body>
    专业:<select id="majors" class="easyui-combobox"></select>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="query();">查询</a>
    <div>
        <table id="tb"></table>
    </div>
    <div id="courses-dlg"></div>
</body>
</html>
