@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form id="terms_add">
            <input class="easyui-textbox" id="terms_add_name" name="Name" />
        </form>
    </div>
</body>
</html>
