@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/globals.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script src="~/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>

    <script>
        $(function () {
            var tb =
                [
                    {
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function () {
                            var url = "/terms/Add";
                            $("#terms_dlg").dialog({
                                title: "学期添加--",
                                iconCls: 'icon-add',

                                modal: true,  //指定该对话框是模态对话框
                                width: 320,
                                height: 240,
                                href: url,
                                buttons: [
                                   {
                                       text: '保存',
                                       iconCls: 'icon-save',
                                       handler: function () {
                                           //easyui的form自动提交（ajax)
                                           $("#terms_add").form({
                                               url: "/Terms/AddTerm/",
                                               success: function (data) {
                                                   if (data == "ok") {
                                                       $.messager.show({
                                                           title: '提示...',
                                                           msg: '保存成功！',
                                                           showType: 'show'
                                                       });
                                                       $("#terms_dlg").dialog("close");
                                                       $("#tb").datagrid("reload");
                                                   }
                                                   else
                                                       $.messager.show({
                                                           title: '提示...',
                                                           msg: '保存失败！',
                                                           showType: 'show'
                                                       });
                                               }
                                           });
                                           $('#terms_add').submit();  //提交到服务器端
                                       }
                                   },
                                    {
                                        text: '取消',
                                        iconCls: 'icon-cancel',
                                        handler: function () {
                                            $("#terms_dlg").dialog("close");

                                        }
                                    }
                                ]
                            });
                        }

                    },
                    {
                        text: "修改",
                        iconCls: "icon-edit",
                        handler: function () {
                            var row = $("#tb").datagrid("getSelected");
                            if (row == null) {
                                $.messager.alert("提示...", "请选择行!", "warning");
                                return;
                            }
                            var id = row.ID;
                            var url = "/terms/Edit/" + id;
                            $("#terms_dlg").dialog({
                                title: "学期修改--",
                                iconCls: 'icon-add',

                                modal: true,  //指定该对话框是模态对话框
                                width: 320,
                                height: 240,
                                href: url,
                                buttons: [
                                   {
                                       text: '保存',
                                       iconCls: 'icon-save',
                                       handler: function () {
                                           //easyui的form自动提交（ajax)
                                           $("#terms_edit").form({
                                               url: "/Terms/EditTerm/",
                                               success: function (data) {
                                                   if (data == "ok") {
                                                       $.messager.show({
                                                           title: '提示...',
                                                           msg: '保存成功！',
                                                           showType: 'show'
                                                       });
                                                       $("#terms_dlg").dialog("close");
                                                       $("#tb").datagrid("reload");
                                                   }
                                                   else
                                                       $.messager.show({
                                                           title: '提示...',
                                                           msg: '保存失败！',
                                                           showType: 'show'
                                                       });
                                               }
                                           });
                                           $('#terms_edit').submit();  //提交到服务器端
                                       }
                                   },
                                    {
                                        text: '取消',
                                        iconCls: 'icon-cancel',
                                        handler: function () {
                                            $("#terms_dlg").dialog("close");

                                        }
                                    }
                                ]
                            });
                        }
                    },
                    '-',
                    {
                        text: '删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            var row = $("#tb").datagrid("getSelected");
                            if (row == null) {
                                $.messager.alert("提示...", "请选择行!", "warning");
                                return;
                            }
                            $.messager.confirm("提示...", "确信要删除学期“" + row.Name + "”吗?", function (t) {
                                if (!t)
                                    return;
                                var id = row.ID;
                                var url = "/terms/Delete/" + id;
                                $.get(url, function (data) {
                                    if (data == "ok") {
                                        $.messager.show({
                                            title: '提示...',
                                            msg: '删除成功！',
                                            showType: 'show'
                                        });

                                        $("#tb").datagrid("reload");
                                    }
                                    else
                                        $.messager.show({
                                            title: '提示...',
                                            msg: '删除失败！',
                                            showType: 'show'
                                        });
                                }, "text");
                            });

                        }
                    }
                ];

            $("#tb").datagrid({
                url: '/terms/getterms/',
                width: 700,
                height: 420,
                fitColumns: true,
                singleSelect: true,
                pagination: true,

                toolbar: tb,
                columns: [[
                    { field: 'Name', title: '学期名称', width: 180 }
                ]]
            });
        });

    </script>

</head>
<body>
    <div>
        <table id="tb"></table>
    </div>
    <div id="terms_dlg"></div>
</body>
</html>
